
<div class="container-fluid">
    <h1 class="mt-3 header-txt">Product Details</h1>
    <hr>
    <div class="row">
      <div class="col-12">
        <table class="table">
          <tr>
            <th class="f-600">Blend Name</th>
            <td class="val-st">{{product?.blend_name}}</td>
          </tr>
          <tr>
            <th class="f-600">Notes: </th>
            <td class="val-st">{{product?.notes}}</td>
          </tr>
          <tr>
            <th class="f-600">Intensifier:</th>
            <td class="val-st">{{product?.intensifier}}</td>
          </tr>
          <tr>
            <th class="f-600">Origin:</th>
            <td class="val-st">{{product?.origin}}</td>
          </tr>
          <tr>
            <th class="f-600">Variety:</th>
            <td class="val-st">{{product?.variety}}</td>
          </tr>
        </table>       
      </div>
    </div>

    <button mat-raised-button color="primary" (click)="navigateToHome()">Back</button>
  </div>
  